# Descarga de datos

## Importamos librerías

In [1]:
#Importamos librerías
from pathlib import Path
import pandas as pd

## Load Data

In [2]:
url_data="https://raw.githubusercontent.com/JoseRZapata/Data_analysis_notebooks/refs/heads/main/data/datasets/Melbourne_housing_FULL_data.csv"
melbourne_df=pd.read_csv(url_data, low_memory=False)
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longtitude     44562 non-null  float64
 1   data_source    57768 non-null  object
 2   parquet        0 non-null      float64
 3   BuildingArea   22866 non-null  float64
 4   Type           57768 non-null  object
 5   value          57768 non-null  float64
 6   SellerG        57768 non-null  object
 7   Distance       57766 non-null  float64
 8   Landsize       38207 non-null  float64
 9   Postcode       57766 non-null  float64
 10  Car            43293 non-null  float64
 11  Date           57768 non-null  object
 12  Price          45189 non-null  float64
 13  Bathroom       44143 non-null  float64
 14  CouncilArea    57764 non-null  object
 15  Rooms          57768 non-null  float64
 16  Regionname     57764 non-null  object
 17  Car            43293 non-null  float64
 18  SellerG        57768 non-null  object
 19  CouncilArea    57764 non-null  object
 20  Address        57768 non-null  object
 21  Method         57768 non-null  object
 22  Propertycount  57764 non-null  float64
 23  Bedroom2       44155 non-null  float64
 24  Lattitude      44562 non-null  float64
 25  YearBuilt      25843 non-null  float64
 26  Suburb         57768 non-null  object
 27  Bathroom       44143 non-null  float64
dtypes: float64(17), object(11)
memory usage: 12.3+ MB

In [3]:
melbourne_df.sample(10)

,Longtitude,data_source,parquet,BuildingArea,Type,value,SellerG,Distance,Landsize,Postcode,...,SellerG,CouncilArea,Address,Method,Propertycount,Bedroom2,Lattitude,YearBuilt,Suburb,Bathroom
11805,144.87030,unknown,NaN,113.81,h,128672.0,Sweeney,8.2,401.0,3012.0,...,Sweeney,Maribyrnong City Council,91 Suffolk St,PI,5058.0,2.0,-37.79030,1945.0,West Footscray,1.0
53954,144.65608,unknown,NaN,163.00,h,128672.0,hockingstuart,14.7,720.0,3030.0,...,hockingstuart,Wyndham City Council,4 Albany Ct,S,16166.0,4.0,-37.87215,2001.0,Werribee,2.0
49216,NaN,unknown,NaN,NaN,u,128672.0,Buxton,3.5,NaN,3207.0,...,Buxton,Melbourne City Council,5/19 Boundary St,SP,8648.0,NaN,NaN,NaN,Port Melbourne,NaN
53218,144.89000,unknown,NaN,NaN,u,128672.0,Burnham,6.4,0.0,3011.0,...,Burnham,Maribyrnong City Council,202/51 Gordon St,PI,7570.0,1.0,-37.79110,2007.0,Footscray,1.0
14426,145.08478,unknown,NaN,233.00,t,128672.0,hockingstuart,21.5,304.0,3195.0,...,hockingstuart,Kingston City Council,9A Montgomery St,S,3650.0,3.0,-38.00644,2007.0,Mordialloc,2.0
56501,144.80330,unknown,NaN,125.00,h,128672.0,Bells,13.5,699.0,3020.0,...,Bells,Brimbank City Council,30 Hall St,S,6763.0,3.0,-37.79050,1960.0,Sunshine West,1.0
47836,145.03581,unknown,NaN,196.00,t,128672.0,Marshall,5.4,NaN,3101.0,...,Marshall,Boroondara City Council,8/8 Cobden St,VB,10331.0,3.0,-37.80436,2015.0,Kew,3.0
19117,144.98640,unknown,NaN,42.00,u,128672.0,Buxton,7.7,0.0,3184.0,...,Buxton,Port Phillip City Council,3/58 Byron St,SP,8989.0,1.0,-37.87840,1970.0,Elwood,1.0
8578,NaN,unknown,NaN,NaN,u,128672.0,hockingstuart,2.7,NaN,3141.0,...,hockingstuart,Melbourne City Council,7/36 Cromwell Rd,S,14887.0,NaN,NaN,NaN,South Yarra,NaN
52669,145.08610,unknown,NaN,126.00,h,128672.0,Thomson,11.2,645.0,3145.0,...,Thomson,Stonnington City Council,66 Argyll St,PI,8801.0,3.0,-37.87500,1960.0,Malvern East,1.0

## Data Info

In [4]:
melbourne_df.columns

Index(['Longtitude', 'data_source', 'parquet', 'BuildingArea', 'Type', 'value',
       'SellerG', 'Distance', 'Landsize', 'Postcode', 'Car ', 'Date', 'Price',
       'Bathroom', 'CouncilArea ', 'Rooms', 'Regionname', 'Car', 'SellerG ',
       'CouncilArea', 'Address', 'Method', 'Propertycount', 'Bedroom2',
       'Lattitude', 'YearBuilt', 'Suburb', 'Bathroom '],
      dtype='object')

In [5]:
columns_to_use=[
    "Longtitude",
    "BuildingArea",
    "Type",
    "SellerG",
    "Distance",
    "Landsize",
    "Postcode",
    "Car",
    "Date",
    "Price",
    "Bathroom",
    "CouncilArea",
    "Rooms",
    "Regionname",
    "Address",
    "Method",
    "Propertycount",
    "Bedroom2",
    "Lattitude",
    "YearBuilt",
    "Suburb"
]

In [6]:
melbourne_final_df=pd.read_csv(url_data, low_memory=False, usecols=columns_to_use)
melbourne_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longtitude     44562 non-null  float64
 1   BuildingArea   22866 non-null  float64
 2   Type           57768 non-null  object
 3   SellerG        57768 non-null  object
 4   Distance       57766 non-null  float64
 5   Landsize       38207 non-null  float64
 6   Postcode       57766 non-null  float64
 7   Date           57768 non-null  object
 8   Price          45189 non-null  float64
 9   Bathroom       44143 non-null  float64
 10  Rooms          57768 non-null  float64
 11  Regionname     57764 non-null  object
 12  Car            43293 non-null  float64
 13  CouncilArea    57764 non-null  object
 14  Address        57768 non-null  object
 15  Method         57768 non-null  object
 16  Propertycount  57764 non-null  float64
 17  Bedroom2       44155 non-null  float64
 18  Lattitude      44562 non-null  float64
 19  YearBuilt      25843 non-null  float64
 20  Suburb         57768 non-null  object
dtypes: float64(13), object(8)
memory usage: 9.3+ MB

## Guardamos los datos

In [7]:
Path.cwd().resolve().parents[0]  # Define el directorio y el archivo
DATA_DIR = Path.cwd().resolve().parents[0] / "data/01_raw"

file_path = DATA_DIR / "melbourne_raw.csv"

# Crea el directorio si no existe
DATA_DIR.mkdir(parents=True, exist_ok=True)
melbourne_final_df.to_csv(file_path, index=False)

# Preguntas

##### 1. ¿Cual es el objetivo del problema?

Analizar y predecir el precio de las propiedades en Melbourne basado en sus características como lo son los el área construida, baños, habitaciones, etc...
Puede servir también para identificar tendencias en el mercado de las casas en Melbourne, en general, el dataset ofrece información útil para tomar decisiones sobre sectores y casas en Melbourne.

##### 2. ¿Cómo se usará su solución?

##### 3. ¿Cuáles son las soluciones actuales (si las hay)?

##### 4. ¿Cómo se debe enmarcar este problema (supervisado / no supervisado, en línea / fuera de línea, etc.)
Aprendizaje supervisado. Ya que tenemos una variable de salida que sabemos que queremos predecir (price) y varias features de entrada que nos pueden ayudar a predecir la salida
Fuera de línea. Los datos ya son preexistentes y se entrena el modelo y luego se aplica la predicción

##### 5. ¿Cómo se debe medir el desempeño o el rendimiento de la solución, una primera intuicion?
Al ser un modelo de regresión, se puede medir con MSE; RMSE Y R2

##### 6. ¿La medida de desempeño está alineada con el objetivo del problema?

RMSE, nos indica la distancia promedio entre los valores reales vs predichos (comparación) y cuanto menor sea, mejor se ajusta
R2, nos indica el buen ajuste del modelo a la variable que intentamos predecir

##### 7. ¿Cuál sería el desempeño o rendimiento mínimo necesario para alcanzar el objetivo del problema?

##### 8. ¿Cuáles son los problemas parecidos? ¿Se puede reutilizar experiencias o herramientas ya creadas?
Ya existen problemas similares de otra ciudades e incluso países. Ej. Hay un desarrollo que predice el precio de las viviendas en el Oriente de Medellín, o el de california housing prices. 
 Generalmente usan modelos de regresión linales, XGBOOST e incluso normalización

##### 9. ¿Hay experiencia del problema disponible?

##### 10. (Importante) ¿Cómo se puede resolver el problema manualmente?

##### 11. Hacer un listado de los supuestos que hay hasta este momento.
- Variables duplicadas con diferentes nombres en sus columnas
- Variables irrelevantes como data_source y parquet
- No veo variables que me indiquen un data leakage directo con la variable objetivo
- Características suficientes que describen una propiedad y ayudan a predecir el precio
- El precio de la propiedad debería ser correlacionado con las características