# Exploración Inicial de Datos

## Importamos librerías

In [1]:
from pathlib import Path 
import numpy as np 
import pandas as pd 
import pyarrow as pa

## Load Data

In [2]:
DATA_DIR = Path.cwd() / "data"  # Ajustado para tu estructura real
melbourne_df = pd.read_csv(DATA_DIR / "01_raw/melbourne_raw.csv")

## Data description

In [3]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longtitude     44562 non-null  float64
 1   BuildingArea   22866 non-null  float64
 2   Type           57768 non-null  object
 3   SellerG        57768 non-null  object
 4   Distance       57766 non-null  float64
 5   Landsize       38207 non-null  float64
 6   Postcode       57766 non-null  float64
 7   Date           57768 non-null  object
 8   Price          45189 non-null  float64
 9   Bathroom       44143 non-null  float64
 10  Rooms          57768 non-null  float64
 11  Regionname     57764 non-null  object
 12  Car            43293 non-null  float64
 13  CouncilArea    57764 non-null  object
 14  Address        57768 non-null  object
 15  Method         57768 non-null  object
 16  Propertycount  57764 non-null  float64
 17  Bedroom2       44155 non-null  float64
 18  Lattitude      44562 non-null  float64
 19  YearBuilt      25843 non-null  float64
 20  Suburb         57768 non-null  object
dtypes: float64(13), object(8)
memory usage: 9.3+ MB

In [4]:
melbourne_df.sample(10)

,Longtitude,BuildingArea,Type,SellerG,Distance,Landsize,Postcode,Date,Price,Bathroom,...,Regionname,Car,CouncilArea,Address,Method,Propertycount,Bedroom2,Lattitude,YearBuilt,Suburb
18907,145.04870,NaN,h,Barry,10.5,592.0,3081.0,20/05/2017,805000.0,1.0,...,Eastern Metropolitan,0.0,Banyule City Council,96 Southern Rd,S,2947.0,3.0,-37.74210,NaN,Heidelberg Heights
3421,145.19270,NaN,t,Buxton,17.2,NaN,3132.0,9/09/2017,799100.0,2.0,...,Eastern Metropolitan,2.0,Whitehorse City Council,6/490 Mitcham Rd,S,6871.0,3.0,-37.82274,1990.0,Mitcham
51452,145.00008,246.0,h,Collins,3.6,293.0,3068.0,28/10/2017,3100000.0,2.0,...,Northern Metropolitan,2.0,Yarra City Council,86 Ramsden St,VB,2954.0,4.0,-37.79070,1920.0,Clifton Hill
47880,NaN,NaN,h,Fletchers,12.7,NaN,3085.0,18/11/2017,910000.0,NaN,...,Northern Metropolitan,NaN,Banyule City Council,99 Wungan St,S,4168.0,NaN,NaN,NaN,MacLeod
47907,145.19804,400.0,h,Noel,17.2,613.0,3133.0,3/02/2018,NaN,3.0,...,Eastern Metropolitan,2.0,Whitehorse City Council,7 Rutherglen Rd,PI,4280.0,5.0,-37.85154,2008.0,Vermont South
7191,145.01938,130.0,h,Gary,8.7,306.0,3162.0,14/10/2017,1655000.0,2.0,...,Southern Metropolitan,2.0,Glen Eira City Council,27 Poplar St,SP,5051.0,3.0,-37.88854,2005.0,Caulfield South
56566,145.10695,128.0,h,hockingstuart/hockingstuart,21.5,529.0,3195.0,9/12/2017,1070000.0,2.0,...,South-Eastern Metropolitan,4.0,Kingston City Council,65 Albany Cr,S,2824.0,3.0,-38.02452,1960.0,Aspendale
29265,144.94190,142.0,h,Brad,12.1,610.0,3046.0,22/05/2016,550000.0,1.0,...,Northern Metropolitan,3.0,Moreland City Council,19 Barbara St,SP,2606.0,3.0,-37.71070,1960.0,Hadfield
15514,144.91850,NaN,h,Brad,5.9,414.0,3032.0,23/04/2016,1291000.0,1.0,...,Western Metropolitan,2.0,Moonee Valley City Council,45 Bloomfield Rd,S,6567.0,3.0,-37.77660,NaN,Ascot Vale
36742,145.01120,NaN,u,Ray,6.3,0.0,3143.0,28/08/2016,565000.0,1.0,...,Southern Metropolitan,1.0,Stonnington City Council,2/532 Orrong Rd,S,4836.0,3.0,-37.85730,NaN,Armadale

In [5]:
melbourne_df.isnull().sum()

Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64

In [6]:
duplicadas = melbourne_df.T.duplicated()

# Mostrar las columnas duplicadas (si existen)
columnas_duplicadas = melbourne_df.columns[duplicadas].tolist()

if columnas_duplicadas:
    print("Las siguientes columnas son duplicadas:", columnas_duplicadas)
else:
    print("No hay columnas duplicadas en el dataset.")

No hay columnas duplicadas en el dataset.

In [7]:
# Filtrar columnas duplicadas cuyo nombre finaliza con un espacio en blanco
columnas_con_espacio = list(filter(lambda col: col.endswith(" "), columnas_duplicadas))

# Mostrar las columnas identificadas
print("Columnas a eliminar:", columnas_con_espacio)

Columnas a eliminar: []

In [8]:

# Contar valores nulos estándar (NaN o pd.NA)
nulos_estandar = melbourne_df.isnull().sum()

# Contar valores sospechosos que podrían representar nulos
valores_sospechosos = ["?", "NA", "N/A", "-", "None", "", " "]

nulos_no_estandar = {valor: (melbourne_df == valor).sum().sum() for valor in valores_sospechosos}

# Mostrar resultados
print("Valores nulos detectados por pandas:\n", nulos_estandar[nulos_estandar > 0])
print("Posibles valores nulos mal representados:")
for valor, cantidad in nulos_no_estandar.items():
    if cantidad > 0:
        print(f"'{valor}': {cantidad} ocurrencias")

Valores nulos detectados por pandas:
 Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64
Posibles valores nulos mal representados:

In [9]:
melbourne_df.drop(columns = ['Address','Postcode','Lattitude','Longtitude', 'Distance'] , inplace = True)
melbourne_df.sample(10)

,BuildingArea,Type,SellerG,Landsize,Date,Price,Bathroom,Rooms,Regionname,Car,CouncilArea,Method,Propertycount,Bedroom2,YearBuilt,Suburb
49667,NaN,u,Pagan,NaN,11/11/2017,550000.0,NaN,2.0,Southern Metropolitan,NaN,Melbourne City Council,SP,8400.0,NaN,NaN,Southbank
16593,117.0,h,Moonee,580.0,15/10/2016,NaN,1.0,3.0,Western Metropolitan,1.0,Moonee Valley City Council,SP,4502.0,3.0,1970.0,Avondale Heights
12029,392.0,h,Marshall,720.0,12/08/2017,3400000.0,3.0,5.0,Southern Metropolitan,2.0,Boroondara City Council,S,10412.0,5.0,1950.0,Glen Iris
2052,NaN,u,Brad,142.0,10/12/2016,490000.0,1.0,2.0,Western Metropolitan,1.0,Moonee Valley City Council,S,2291.0,2.0,NaN,Niddrie
10639,NaN,t,Jellis,NaN,8/04/2017,NaN,NaN,2.0,Northern Metropolitan,NaN,Moreland City Council,PI,5533.0,NaN,NaN,Brunswick East
5751,NaN,u,Peter,983.0,4/03/2017,2250000.0,2.0,8.0,Northern Metropolitan,4.0,Darebin City Council,PI,11204.0,4.0,NaN,Coburg
51862,138.0,h,Barry,495.0,24/02/2018,515000.0,1.0,3.0,Northern Metropolitan,2.0,Hume City Council,S,15510.0,3.0,2008.0,Craigieburn
7657,100.0,u,Jason,164.0,6/08/2016,430000.0,1.0,2.0,Northern Metropolitan,1.0,Moreland City Council,PI,8870.0,2.0,2010.0,Glenroy
26289,NaN,h,Barry,NaN,26/08/2017,900000.0,NaN,4.0,Northern Metropolitan,NaN,Darebin City Council,S,1414.0,NaN,NaN,Kingsbury
52075,NaN,t,Jellis,0.0,1/07/2017,936000.0,1.0,2.0,Northern Metropolitan,0.0,Melbourne City Council,S,6821.0,2.0,NaN,North Melbourne

In [10]:
melbourne_df.sample(10)

,BuildingArea,Type,SellerG,Landsize,Date,Price,Bathroom,Rooms,Regionname,Car,CouncilArea,Method,Propertycount,Bedroom2,YearBuilt,Suburb
25549,121.0,h,Brad,533.0,25/11/2017,632500.0,1.0,3.0,Western Metropolitan,2.0,Brimbank City Council,S,1202.0,3.0,1980.0,Kealba
14810,NaN,h,Jellis,639.0,24/02/2018,1250000.0,2.0,4.0,Southern Metropolitan,4.0,Glen Eira City Council,S,10969.0,4.0,NaN,Bentleigh East
22579,94.0,u,Beller,17200.0,4/06/2016,NaN,2.0,2.0,Southern Metropolitan,1.0,Melbourne City Council,W,14887.0,2.0,2005.0,South Yarra
23647,NaN,h,Ray,NaN,18/11/2017,545000.0,NaN,3.0,Western Metropolitan,NaN,Wyndham City Council,S,16166.0,NaN,NaN,Werribee
8447,169.0,h,Nelson,NaN,28/10/2017,1230000.0,1.0,3.0,Western Metropolitan,1.0,Moonee Valley City Council,PI,2291.0,3.0,1950.0,Niddrie
9583,NaN,h,Marshall,745.0,9/09/2017,NaN,2.0,4.0,Southern Metropolitan,2.0,Boroondara City Council,SP,8920.0,4.0,1930.0,Camberwell
56894,NaN,h,Marshall,NaN,16/04/2016,NaN,NaN,3.0,Southern Metropolitan,NaN,Boroondara City Council,S,8920.0,NaN,NaN,Camberwell
41385,114.0,h,C21,532.0,19/08/2017,790000.0,1.0,3.0,South-Eastern Metropolitan,2.0,Kingston City Council,S,2727.0,3.0,1975.0,Clarinda
45227,120.0,t,Frank,0.0,13/08/2016,NaN,1.0,3.0,Southern Metropolitan,1.0,Melbourne City Council,SN,8648.0,3.0,1979.0,Port Melbourne
15079,NaN,h,Woodards,548.0,18/03/2017,NaN,1.0,3.0,Southern Metropolitan,1.0,Glen Eira City Council,S,7822.0,3.0,NaN,Carnegie

In [11]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BuildingArea   22866 non-null  float64
 1   Type           57768 non-null  object
 2   SellerG        57768 non-null  object
 3   Landsize       38207 non-null  float64
 4   Date           57768 non-null  object
 5   Price          45189 non-null  float64
 6   Bathroom       44143 non-null  float64
 7   Rooms          57768 non-null  float64
 8   Regionname     57764 non-null  object
 9   Car            43293 non-null  float64
 10  CouncilArea    57764 non-null  object
 11  Method         57768 non-null  object
 12  Propertycount  57764 non-null  float64
 13  Bedroom2       44155 non-null  float64
 14  YearBuilt      25843 non-null  float64
 15  Suburb         57768 non-null  object
dtypes: float64(9), object(7)
memory usage: 7.1+ MB

In [12]:
print(melbourne_df["Method"].unique())

['S' 'SP' 'PI' 'W' 'SN' 'VB' 'PN' 'SA' 'SS' nan]

In [13]:
melbourne_df.isna().sum()

BuildingArea     34904
Type                 2
SellerG              2
Landsize         19563
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Method               2
Propertycount        6
Bedroom2         13615
YearBuilt        31927
Suburb               2
dtype: int64

## Variables categóricas

### Ordinales
 - NO HAY VARIABLES QUE SEAN ORDINALES

### Nominales
- TYPE: TIPO DE PROPIEDAD
- SELLERG: REAL STATE AGENT
- REGIONNAME: NOMBRE DE LA REGIÓN
- COUNCILAREA: GOVERNING CPUNCIL FOR THE AREA
- METHOD: MÉTODO DE VENTA
- SUBURB: NOMBRE DEL SURBURBIO

## Variables Numéricas

### Continuas
- PRICE: PRECIO DE LA PROPIEDAD EN DÓLARES AUSTRALIANOS
- BUILDINGAREA: ÁREA CONSTRUIDA DE LA PROPIEDAD EN METROS
- LANDSIZE: TAMAÑO DEL TERRENO EN METROS

### Discretas
- CAR: NÚMERO DE ESPACIOS DE ESTACIONAMIENTO
- PROPERTYCOUNT: NÚMERO DE PROPIEDADES EN EL SUBURBIO
- ROOMS: NÚMERO DE HABITACIONES
- BATHROOM: NÚMERO DE BAÑOS
- BEDROOM2: NÚMERO DE DORMITORIOS (EXTRAÍDO DE OTRA FUENTE)

## Date

- YEARBULIT: EL AÑO EN QUE FUE CONSTRUIDA LA PROPIEDAD
- DATE: FECHA EN LA QUE SE VENDIÓ LA PROPIEDAD

## Convertir los tipos de datos

In [14]:
cols_categoric = ["Type", "SellerG", "Regionname", "CouncilArea", "Method", "Suburb"]

melbourne_df[cols_categoric] = melbourne_df[cols_categoric].astype("category")

In [15]:
cols_numeric_float = ["Price", "BuildingArea", "Landsize"]

melbourne_df[cols_numeric_float] = melbourne_df[cols_numeric_float].astype("float")

In [16]:
cols_numeric_int = ["Car", "Propertycount", "Rooms", "Bathroom", "Bedroom2", "YearBuilt"]

melbourne_df[cols_numeric_int] = melbourne_df[cols_numeric_int].astype("Int64")

In [17]:
cols_datetime= ["Date"]
melbourne_df[cols_datetime] =melbourne_df[cols_datetime].astype("datetime64[ns]")

In [18]:
schema=pa.Table.from_pandas(melbourne_df).schema

## Guardar los datos

In [19]:
melbourne_df = melbourne_df.reset_index(drop=True)
# Crear el directorio si no existe
(DATA_DIR / "02_intermediate").mkdir(parents=True, exist_ok=True)

# Guardar en formato Parquet
melbourne_df.to_parquet(DATA_DIR / "02_intermediate/melbourne_type_fixed.parquet", index=False)