# Exploración Inicial de Datos

## Importamos librerías

In [1]:
from pathlib import Path

import pandas as pd
import pyarrow as pa

## Load Data

In [2]:
DATA_DIR = Path.cwd() / "data"  # Ajustado para tu estructura real
melbourne_df = pd.read_csv(DATA_DIR / "01_raw/melbourne_raw.csv")

## Data description

In [3]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longtitude     44562 non-null  float64
 1   BuildingArea   22866 non-null  float64
 2   Type           57768 non-null  object
 3   SellerG        57768 non-null  object
 4   Distance       57766 non-null  float64
 5   Landsize       38207 non-null  float64
 6   Postcode       57766 non-null  float64
 7   Date           57768 non-null  object
 8   Price          45189 non-null  float64
 9   Bathroom       44143 non-null  float64
 10  Rooms          57768 non-null  float64
 11  Regionname     57764 non-null  object
 12  Car            43293 non-null  float64
 13  CouncilArea    57764 non-null  object
 14  Address        57768 non-null  object
 15  Method         57768 non-null  object
 16  Propertycount  57764 non-null  float64
 17  Bedroom2       44155 non-null  float64
 18  Lattitude      44562 non-null  float64
 19  YearBuilt      25843 non-null  float64
 20  Suburb         57768 non-null  object
dtypes: float64(13), object(8)
memory usage: 9.3+ MB

In [4]:
melbourne_df.sample(10)

,Longtitude,BuildingArea,Type,SellerG,Distance,Landsize,Postcode,Date,Price,Bathroom,...,Regionname,Car,CouncilArea,Address,Method,Propertycount,Bedroom2,Lattitude,YearBuilt,Suburb
17263,144.88999,260.0,h,Stockdale,20.4,624.0,3059.0,7/10/2017,805000.0,2.0,...,Northern Metropolitan,4.0,Hume City Council,33 Positano Gr,S,4864.0,4.0,-37.62644,2014.0,Greenvale
17555,144.88480,37.0,u,Jas,7.7,89.0,3015.0,8/04/2017,380000.0,1.0,...,Western Metropolitan,1.0,Hobsons Bay City Council,4/36 Robert St,S,1223.0,1.0,-37.82910,1980.0,Spotswood
39727,145.17700,170.0,h,Jellis,16.7,NaN,3150.0,25/11/2017,1010000.0,1.0,...,South-Eastern Metropolitan,2.0,Monash City Council,4 Europa Ct,SP,7392.0,4.0,-37.91460,1980.0,Wheelers Hill
27811,145.02120,130.0,h,Marshall,4.6,342.0,3122.0,12/11/2016,1712000.0,1.0,...,Southern Metropolitan,1.0,Boroondara City Council,16 Pine St,S,11308.0,3.0,-37.81400,1900.0,Hawthorn
52629,145.04550,NaN,u,Barry,7.9,0.0,3079.0,10/12/2016,504000.0,1.0,...,Eastern Metropolitan,1.0,Banyule City Council,4/6 Linton St,S,5549.0,2.0,-37.77120,NaN,Ivanhoe
25008,NaN,NaN,h,Nelson,1.5,NaN,3002.0,13/08/2016,1450000.0,NaN,...,Northern Metropolitan,NaN,Melbourne City Council,510 Victoria Pde,SP,3040.0,NaN,NaN,NaN,East Melbourne
23375,144.99115,129.0,h,Harcourts,8.4,511.0,3072.0,28/10/2017,1040000.0,2.0,...,Northern Metropolitan,2.0,Darebin City Council,10 Devon St,S,14577.0,4.0,-37.74975,1930.0,Preston
34162,145.22242,NaN,h,O'Brien,24.7,1113.0,3175.0,17/03/2018,NaN,3.0,...,South-Eastern Metropolitan,4.0,Greater Dandenong City Council,17 May Ct,S,10894.0,4.0,-37.97269,NaN,Dandenong
23926,145.15801,NaN,h,Noel,13.4,NaN,3130.0,16/09/2017,NaN,2.0,...,Eastern Metropolitan,2.0,Whitehorse City Council,12 Burcote St,SN,2867.0,3.0,-37.80483,NaN,Blackburn North
33290,NaN,NaN,u,Nelson,15.5,NaN,3106.0,9/09/2017,NaN,NaN,...,Eastern Metropolitan,NaN,Manningham City Council,2/1 Serpells Rd,SP,6202.0,NaN,NaN,NaN,Templestowe

In [5]:
melbourne_df.isnull().sum()

Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64

In [6]:
duplicadas = melbourne_df.T.duplicated()

# Mostrar las columnas duplicadas (si existen)
columnas_duplicadas = melbourne_df.columns[duplicadas].tolist()

if columnas_duplicadas:
    print("Las siguientes columnas son duplicadas:", columnas_duplicadas)
else:
    print("No hay columnas duplicadas en el dataset.")

No hay columnas duplicadas en el dataset.

In [7]:
# Filtrar columnas duplicadas cuyo nombre finaliza con un espacio en blanco
columnas_con_espacio = list(filter(lambda col: col.endswith(" "), columnas_duplicadas))

# Mostrar las columnas identificadas
print("Columnas a eliminar:", columnas_con_espacio)

Columnas a eliminar: []

In [8]:
# Contar valores nulos estándar (NaN o pd.NA)
nulos_estandar = melbourne_df.isnull().sum()

# Contar valores sospechosos que podrían representar nulos
valores_sospechosos = ["?", "NA", "N/A", "-", "None", "", " "]

nulos_no_estandar = {valor: (melbourne_df == valor).sum().sum() for valor in valores_sospechosos}

# Mostrar resultados
print("Valores nulos detectados por pandas:\n", nulos_estandar[nulos_estandar > 0])
print("Posibles valores nulos mal representados:")
for valor, cantidad in nulos_no_estandar.items():
    if cantidad > 0:
        print(f"'{valor}': {cantidad} ocurrencias")

Valores nulos detectados por pandas:
 Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64
Posibles valores nulos mal representados:

In [9]:
melbourne_df.sample(10)

,Longtitude,BuildingArea,Type,SellerG,Distance,Landsize,Postcode,Date,Price,Bathroom,...,Regionname,Car,CouncilArea,Address,Method,Propertycount,Bedroom2,Lattitude,YearBuilt,Suburb
2930,145.09280,NaN,h,Barry,14.0,1143.0,3166.0,8/04/2017,2525000.0,2.0,...,Southern Metropolitan,0.0,Monash City Council,101 Atkinson St,S,3224.0,4.0,-37.89520,NaN,Oakleigh
42005,144.99499,NaN,h,Purplebricks,3.0,141.0,3067.0,22/07/2017,911000.0,1.0,...,Northern Metropolitan,0.0,Yarra City Council,101 Charles St,S,4019.0,2.0,-37.80586,NaN,Abbotsford
29200,144.99866,111.0,u,RW,12.0,343.0,3073.0,26/08/2017,625500.0,1.0,...,Northern Metropolitan,2.0,Darebin City Council,92 Pine St,S,21650.0,2.0,-37.71626,1960.0,Reservoir
21872,144.89880,160.0,h,Gunn&Co,8.0,320.0,3016.0,3/09/2016,1400000.0,2.0,...,Western Metropolitan,1.0,Hobsons Bay City Council,46 Pasco St,S,6380.0,4.0,-37.86130,1950.0,Williamstown
17290,145.05100,123.0,h,Noel,9.2,412.0,3146.0,16/07/2016,1280000.0,1.0,...,Southern Metropolitan,1.0,Boroondara City Council,1597 Malvern Rd,S,10412.0,2.0,-37.85410,1950.0,Glen Iris
42898,145.07667,140.0,h,Miles,8.9,696.0,3084.0,28/10/2017,1050000.0,1.0,...,Eastern Metropolitan,3.0,Banyule City Council,7 Leura Av,VB,3540.0,3.0,-37.73706,1960.0,Rosanna
29071,NaN,NaN,h,Walshe,5.2,NaN,3056.0,26/08/2017,830000.0,NaN,...,Northern Metropolitan,NaN,Moreland City Council,226 Albert Street,PI,11918.0,NaN,NaN,NaN,Brunswick
13240,144.96846,50.0,u,Harcourts,0.0,0.0,3000.0,8/07/2017,NaN,2.0,...,Northern Metropolitan,0.0,Melbourne City Council,703/8 Exploration La,PI,17496.0,2.0,-37.80919,2010.0,Melbourne
41200,144.99777,NaN,h,Nelson,5.3,313.0,3070.0,6/01/2018,1575000.0,2.0,...,Northern Metropolitan,1.0,Darebin City Council,14 Candy St,PI,11364.0,3.0,-37.77983,NaN,Northcote
23774,145.06732,158.0,h,Ray,17.9,618.0,3082.0,17/02/2018,702000.0,1.0,...,Northern Metropolitan,2.0,Whittlesea City Council,2 Dickerson Av,S,10529.0,4.0,-37.66740,1990.0,Mill Park

In [10]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longtitude     44562 non-null  float64
 1   BuildingArea   22866 non-null  float64
 2   Type           57768 non-null  object
 3   SellerG        57768 non-null  object
 4   Distance       57766 non-null  float64
 5   Landsize       38207 non-null  float64
 6   Postcode       57766 non-null  float64
 7   Date           57768 non-null  object
 8   Price          45189 non-null  float64
 9   Bathroom       44143 non-null  float64
 10  Rooms          57768 non-null  float64
 11  Regionname     57764 non-null  object
 12  Car            43293 non-null  float64
 13  CouncilArea    57764 non-null  object
 14  Address        57768 non-null  object
 15  Method         57768 non-null  object
 16  Propertycount  57764 non-null  float64
 17  Bedroom2       44155 non-null  float64
 18  Lattitude      44562 non-null  float64
 19  YearBuilt      25843 non-null  float64
 20  Suburb         57768 non-null  object
dtypes: float64(13), object(8)
memory usage: 9.3+ MB

In [11]:
print(melbourne_df["Method"].unique())

['S' 'SP' 'PI' 'W' 'SN' 'VB' 'PN' 'SA' 'SS' nan]

In [12]:
melbourne_df.isna().sum()

Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64

## Variables categóricas

### Ordinales
 - NO HAY VARIABLES QUE SEAN ORDINALES

### Nominales
- TYPE: TIPO DE PROPIEDAD
- SELLERG: REAL STATE AGENT
- REGIONNAME: NOMBRE DE LA REGIÓN
- COUNCILAREA: GOVERNING CPUNCIL FOR THE AREA
- METHOD: MÉTODO DE VENTA
- SUBURB: NOMBRE DEL SURBURBIO
- ADDRESS: DIRECCIÓN DE LA PROPIEDAD
- POSTCODE: CÓDIGO POSTAL

## Variables Numéricas

### Continuas
- PRICE: PRECIO DE LA PROPIEDAD EN DÓLARES AUSTRALIANOS
- BUILDINGAREA: ÁREA CONSTRUIDA DE LA PROPIEDAD EN METROS
- LANDSIZE: TAMAÑO DEL TERRENO EN METROS
- LONGITUD
- LATITUD
- DISTANCIA

### Discretas
- CAR: NÚMERO DE ESPACIOS DE ESTACIONAMIENTO
- PROPERTYCOUNT: NÚMERO DE PROPIEDADES EN EL SUBURBIO
- ROOMS: NÚMERO DE HABITACIONES
- BATHROOM: NÚMERO DE BAÑOS
- BEDROOM2: NÚMERO DE DORMITORIOS (EXTRAÍDO DE OTRA FUENTE)

## Date

- YEARBULIT: EL AÑO EN QUE FUE CONSTRUIDA LA PROPIEDAD
- DATE: FECHA EN LA QUE SE VENDIÓ LA PROPIEDAD

## Convertir los tipos de datos

In [ ]:
cols_categoric = [
    "Type",
    "SellerG",
    "Regionname",
    "CouncilArea",
    "Method",
    "Suburb",
    "Address",
    "Postcode",
]

melbourne_df[cols_categoric] = melbourne_df[cols_categoric].astype("category")

In [14]:
cols_numeric_float = ["Price", "BuildingArea", "Landsize", "Lattitude", "Longtitude", "Distance"]

melbourne_df[cols_numeric_float] = melbourne_df[cols_numeric_float].astype("float")

In [15]:
cols_numeric_int = ["Car", "Propertycount", "Rooms", "Bathroom", "Bedroom2", "YearBuilt"]

melbourne_df[cols_numeric_int] = melbourne_df[cols_numeric_int].astype("Int64")

In [16]:
cols_datetime = ["Date"]
melbourne_df[cols_datetime] = melbourne_df[cols_datetime].astype("datetime64[ns]")

In [17]:
schema = pa.Table.from_pandas(melbourne_df).schema

## Guardar los datos

In [18]:
melbourne_df = melbourne_df.reset_index(drop=True)
# Crear el directorio si no existe
(DATA_DIR / "02_intermediate").mkdir(parents=True, exist_ok=True)

# Guardar en formato Parquet
melbourne_df.to_parquet(DATA_DIR / "02_intermediate/melbourne_type_fixed.parquet", index=False)