# Exploración Inicial de Datos

## Importamos librerías

In [13]:
from pathlib import Path 
import numpy as np 
import pandas as pd 
import pyarrow as pa

## Load Data

In [14]:
DATA_DIR = Path.cwd() / "data"  # Ajustado para tu estructura real
melbourne_df = pd.read_csv(DATA_DIR / "01_raw/melbourne_raw.csv")

## Data description

In [15]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longtitude     44562 non-null  float64
 1   BuildingArea   22866 non-null  float64
 2   Type           57768 non-null  object
 3   SellerG        57768 non-null  object
 4   Distance       57766 non-null  float64
 5   Landsize       38207 non-null  float64
 6   Postcode       57766 non-null  float64
 7   Date           57768 non-null  object
 8   Price          45189 non-null  float64
 9   Bathroom       44143 non-null  float64
 10  Rooms          57768 non-null  float64
 11  Regionname     57764 non-null  object
 12  Car            43293 non-null  float64
 13  CouncilArea    57764 non-null  object
 14  Address        57768 non-null  object
 15  Method         57768 non-null  object
 16  Propertycount  57764 non-null  float64
 17  Bedroom2       44155 non-null  float64
 18  Lattitude      44562 non-null  float64
 19  YearBuilt      25843 non-null  float64
 20  Suburb         57768 non-null  object
dtypes: float64(13), object(8)
memory usage: 9.3+ MB

In [16]:
melbourne_df.sample(10)

,Longtitude,BuildingArea,Type,SellerG,Distance,Landsize,Postcode,Date,Price,Bathroom,...,Regionname,Car,CouncilArea,Address,Method,Propertycount,Bedroom2,Lattitude,YearBuilt,Suburb
29580,145.08280,291.0,h,Jellis,7.3,784.0,3146.0,11/11/2017,NaN,3.0,...,Southern Metropolitan,2.0,Boroondara City Council,25 Welfare Pde,S,10412.0,5.0,-37.85970,1940.0,Glen Iris
54289,NaN,NaN,u,Biggin,2.6,NaN,3121.0,13/05/2017,490000.0,NaN,...,Northern Metropolitan,NaN,Yarra City Council,8/7 Westbank Tce,SP,14949.0,NaN,NaN,NaN,Richmond
694,144.95462,157.0,h,Nelson,6.7,NaN,3058.0,16/09/2017,1300000.0,2.0,...,Northern Metropolitan,2.0,Darebin City Council,3 Haig Av,VB,11204.0,4.0,-37.75369,1930.0,Coburg
21256,144.98170,NaN,u,McGrath,6.1,NaN,3182.0,14/05/2016,637000.0,NaN,...,Southern Metropolitan,NaN,Port Phillip City Council,8/25 Mitford St,S,13240.0,NaN,-37.87230,NaN,St Kilda
13788,144.99580,61.0,u,hockingstuart,6.6,0.0,3183.0,3/12/2016,410000.0,1.0,...,Southern Metropolitan,2.0,Port Phillip City Council,7/72 Grosvenor St,PI,2952.0,2.0,-37.87310,1965.0,Balaclava
4727,NaN,NaN,t,Thomson,10.1,NaN,3163.0,24/02/2018,1227500.0,NaN,...,Southern Metropolitan,NaN,Glen Eira City Council,3/44 Omama Rd,S,4442.0,NaN,NaN,NaN,Murrumbeena
53124,NaN,NaN,u,Greg,8.5,NaN,3185.0,8/10/2016,NaN,NaN,...,Southern Metropolitan,NaN,Glen Eira City Council,206/28 Riddell Pde,VB,4898.0,NaN,NaN,NaN,Elsternwick
2647,145.13010,158.0,t,Lindellas,13.1,299.0,3128.0,15/10/2016,975000.0,2.0,...,Eastern Metropolitan,2.0,Whitehorse City Council,1/14 Barkly St,VB,4605.0,4.0,-37.82820,2008.0,Box Hill
32715,NaN,NaN,u,Biggin,2.4,NaN,3121.0,9/12/2017,456000.0,NaN,...,Northern Metropolitan,NaN,Yarra City Council,309/71 Abinger St,S,14949.0,NaN,NaN,NaN,Richmond
47281,NaN,NaN,h,Marshall,7.7,NaN,3124.0,27/05/2017,2001000.0,NaN,...,Southern Metropolitan,NaN,Boroondara City Council,32 Aisbett Av,S,8920.0,NaN,NaN,NaN,Camberwell

In [17]:
melbourne_df.isnull().sum()

Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64

In [18]:
duplicadas = melbourne_df.T.duplicated()

# Mostrar las columnas duplicadas (si existen)
columnas_duplicadas = melbourne_df.columns[duplicadas].tolist()

if columnas_duplicadas:
    print("Las siguientes columnas son duplicadas:", columnas_duplicadas)
else:
    print("No hay columnas duplicadas en el dataset.")

No hay columnas duplicadas en el dataset.

In [19]:
# Filtrar columnas duplicadas cuyo nombre finaliza con un espacio en blanco
columnas_con_espacio = list(filter(lambda col: col.endswith(" "), columnas_duplicadas))

# Mostrar las columnas identificadas
print("Columnas a eliminar:", columnas_con_espacio)

Columnas a eliminar: []

In [20]:

# Contar valores nulos estándar (NaN o pd.NA)
nulos_estandar = melbourne_df.isnull().sum()

# Contar valores sospechosos que podrían representar nulos
valores_sospechosos = ["?", "NA", "N/A", "-", "None", "", " "]

nulos_no_estandar = {valor: (melbourne_df == valor).sum().sum() for valor in valores_sospechosos}

# Mostrar resultados
print("Valores nulos detectados por pandas:\n", nulos_estandar[nulos_estandar > 0])
print("Posibles valores nulos mal representados:")
for valor, cantidad in nulos_no_estandar.items():
    if cantidad > 0:
        print(f"'{valor}': {cantidad} ocurrencias")

Valores nulos detectados por pandas:
 Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64
Posibles valores nulos mal representados:

In [21]:
melbourne_df.sample(10)

,Longtitude,BuildingArea,Type,SellerG,Distance,Landsize,Postcode,Date,Price,Bathroom,...,Regionname,Car,CouncilArea,Address,Method,Propertycount,Bedroom2,Lattitude,YearBuilt,Suburb
33603,144.86260,NaN,h,Sweeney,7.0,503.0,3013.0,4/03/2017,960000.0,1.0,...,Western Metropolitan,1.0,Maribyrnong City Council,60 Adeney St,S,6543.0,3.0,-37.81590,NaN,Yarraville
48607,145.03601,227.0,h,Nelson,7.8,NaN,3079.0,28/10/2017,1300000.0,2.0,...,Eastern Metropolitan,2.0,Banyule City Council,83 Beatty St,VB,5549.0,4.0,-37.75891,2011.0,Ivanhoe
44617,144.90739,65.0,u,Barry,8.2,NaN,3041.0,23/09/2017,370000.0,1.0,...,Western Metropolitan,1.0,Moonee Valley City Council,1/48 Keilor Rd,PI,1308.0,2.0,-37.74325,1960.0,Essendon North
52308,145.02250,128.0,h,Barry,11.2,260.0,3073.0,27/06/2016,550000.0,2.0,...,Northern Metropolitan,2.0,Darebin City Council,1/21 Crookston Rd,PI,21650.0,3.0,-37.71060,2006.0,Reservoir
44589,144.89100,NaN,h,Hodges,8.0,580.0,3040.0,27/11/2016,850000.0,2.0,...,Western Metropolitan,1.0,Moonee Valley City Council,10 Deakin St,PI,9264.0,3.0,-37.75300,NaN,Essendon
44566,144.88953,291.0,h,McDonald,7.5,401.0,3040.0,22/07/2017,NaN,3.0,...,Western Metropolitan,2.0,Moonee Valley City Council,45A Afton St,PN,1543.0,3.0,-37.76035,2009.0,Aberfeldie
21629,145.04060,NaN,h,William,9.4,695.0,3081.0,22/04/2017,950000.0,1.0,...,Eastern Metropolitan,3.0,Banyule City Council,171 Southern Rd,S,2674.0,3.0,-37.74160,NaN,Heidelberg West
7844,144.66925,0.0,h,Ray,14.7,580.0,3030.0,7/10/2017,550000.0,2.0,...,Western Metropolitan,2.0,Wyndham City Council,21 Sinns Av,S,16166.0,3.0,-37.90136,1980.0,Werribee
17468,NaN,NaN,u,Barry,12.1,NaN,3083.0,6/01/2018,440000.0,NaN,...,Northern Metropolitan,NaN,Banyule City Council,3/210 Greenhills Rd,PI,10175.0,NaN,NaN,NaN,Bundoora
19152,NaN,NaN,u,Barry,11.7,NaN,3125.0,10/12/2016,NaN,NaN,...,Southern Metropolitan,NaN,Monash City Council,1/9 Farleigh Av,SN,5678.0,NaN,NaN,NaN,Burwood

In [22]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longtitude     44562 non-null  float64
 1   BuildingArea   22866 non-null  float64
 2   Type           57768 non-null  object
 3   SellerG        57768 non-null  object
 4   Distance       57766 non-null  float64
 5   Landsize       38207 non-null  float64
 6   Postcode       57766 non-null  float64
 7   Date           57768 non-null  object
 8   Price          45189 non-null  float64
 9   Bathroom       44143 non-null  float64
 10  Rooms          57768 non-null  float64
 11  Regionname     57764 non-null  object
 12  Car            43293 non-null  float64
 13  CouncilArea    57764 non-null  object
 14  Address        57768 non-null  object
 15  Method         57768 non-null  object
 16  Propertycount  57764 non-null  float64
 17  Bedroom2       44155 non-null  float64
 18  Lattitude      44562 non-null  float64
 19  YearBuilt      25843 non-null  float64
 20  Suburb         57768 non-null  object
dtypes: float64(13), object(8)
memory usage: 9.3+ MB

In [23]:
print(melbourne_df["Method"].unique())

['S' 'SP' 'PI' 'W' 'SN' 'VB' 'PN' 'SA' 'SS' nan]

In [24]:
melbourne_df.isna().sum()

Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64

## Variables categóricas

### Ordinales
 - NO HAY VARIABLES QUE SEAN ORDINALES

### Nominales
- TYPE: TIPO DE PROPIEDAD
- SELLERG: REAL STATE AGENT
- REGIONNAME: NOMBRE DE LA REGIÓN
- COUNCILAREA: GOVERNING CPUNCIL FOR THE AREA
- METHOD: MÉTODO DE VENTA
- SUBURB: NOMBRE DEL SURBURBIO
- ADDRESS: DIRECCIÓN DE LA PROPIEDAD
- POSTCODE: CÓDIGO POSTAL

## Variables Numéricas

### Continuas
- PRICE: PRECIO DE LA PROPIEDAD EN DÓLARES AUSTRALIANOS
- BUILDINGAREA: ÁREA CONSTRUIDA DE LA PROPIEDAD EN METROS
- LANDSIZE: TAMAÑO DEL TERRENO EN METROS
- LONGITUD
- LATITUD
- DISTANCIA

### Discretas
- CAR: NÚMERO DE ESPACIOS DE ESTACIONAMIENTO
- PROPERTYCOUNT: NÚMERO DE PROPIEDADES EN EL SUBURBIO
- ROOMS: NÚMERO DE HABITACIONES
- BATHROOM: NÚMERO DE BAÑOS
- BEDROOM2: NÚMERO DE DORMITORIOS (EXTRAÍDO DE OTRA FUENTE)

## Date

- YEARBULIT: EL AÑO EN QUE FUE CONSTRUIDA LA PROPIEDAD
- DATE: FECHA EN LA QUE SE VENDIÓ LA PROPIEDAD

## Convertir los tipos de datos

In [25]:
cols_categoric = ["Type", "SellerG", "Regionname", "CouncilArea", "Method", "Suburb", "Address", "Postcode"]

melbourne_df[cols_categoric] = melbourne_df[cols_categoric].astype("category")

In [26]:
cols_numeric_float = ["Price", "BuildingArea", "Landsize", "Lattitude", "Longtitude", "Distance"]

melbourne_df[cols_numeric_float] = melbourne_df[cols_numeric_float].astype("float")

In [27]:
cols_numeric_int = ["Car", "Propertycount", "Rooms", "Bathroom", "Bedroom2", "YearBuilt"]

melbourne_df[cols_numeric_int] = melbourne_df[cols_numeric_int].astype("Int64")

In [28]:
cols_datetime= ["Date"]
melbourne_df[cols_datetime] =melbourne_df[cols_datetime].astype("datetime64[ns]")

In [29]:
schema=pa.Table.from_pandas(melbourne_df).schema

## Guardar los datos

In [30]:
melbourne_df = melbourne_df.reset_index(drop=True)
# Crear el directorio si no existe
(DATA_DIR / "02_intermediate").mkdir(parents=True, exist_ok=True)

# Guardar en formato Parquet
melbourne_df.to_parquet(DATA_DIR / "02_intermediate/melbourne_type_fixed.parquet", index=False)